$background: #{{base00-hex}};
$foreground: #{{base05-hex}};
$background-alt: #{{base01-hex}};
$foreground-alt: #{{base04-hex}};
$selection: #{{base03-hex}};
$warning: #{{base0A-hex}};
$urgent: #{{base09-hex}};
$error: #{{base08-hex}};
$cyan: #{{base0C-hex}};
$blue: #{{base0D-hex}};
$purple: #{{base0E-hex}};
$brown: #{{base0F-hex}};
$red: #{{base08-hex}};
